common --enable_bzlmod=true --enable_platform_specific_config
startup --output_user_root=/tmp/build_output

build:linux --sandbox_add_mount_pair=/tmp

build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp

test --test_arg --log_level=all
