name: Publish Docs

on:
  push:
    tags: [ "*" ]
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
jobs:
  setup:
    name: setup

    runs-on: ubuntu-latest
    outputs:
        releaseTags: ${{ steps.get_latest_release.outputs.data }}
        latestTag: ${{ steps.get_latest_release.outputs.latest }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch all history

      - name: Get all tags for upcoming matrix
        id: get_latest_release
        run: |
          echo "DATA=[\"$(echo $(git tag --sort=-creatordate ) | sed 's/ /\", \"/g')\"]" >> "$GITHUB_OUTPUT"
          echo "LATEST=$(echo $(git tag -l --sort=-creatordate | head -n 1 ))" >> "$GITHUB_OUTPUT"

  deploy:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2 # fetch all history
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: sudo apt install doxygen && echo $(doxygen --version)
      - run: pip install mkdocs-material mkdocs_puml mkdoxy mike
      - run: mkdocs gh-deploy --force
      # TODO: setup versioning
      # - run: mike deploy --update-aliases ${{ needs.setup.outputs.latestTag }} latest
      # - run: >-
      #     git checkout gh-pages &&
      #     git reset --soft HEAD~1 &&
      #     git commit --amend -m"$(git log --format=%B HEAD..HEAD@{1})" &&
      #     git push --force
